.breadcrumbs {
  height: 300px;
  .fix-bg-parralax;
  .container {
    text-align: center;
    h1 {
      text-transform: uppercase;
      color: #fff;
      font-size: 50px;
      line-height: 230px;
      font-weight: bold;
    }
  }

  &.contact {
    background-image: url('../img/breadcrumb/contact.png');
  }
}
