// ------------------------------------------
// START :: contact-info-box
.contact-info-box {
  padding-top : 80px;
  padding-bottom: 80px;
  .container {
    .row {
      &  > div.col-md-4 {
        text-align: center;
        & > div {
          border: 1px solid #ccc;
          min-height: 260px;
          padding: 20px 0px;
          i {
            font-size: 60px;
            color: @red-1;
          }
          h2 {
            font-weight: 100;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
// END :: contact-info-box
// ------------------------------------------
